<!doctype html>
<html>
    <head>
        <style>
            div{margin: 50px;}
        </style>

    </head>
    <body>

    <!-- Exercise 1 -->
    <div>
        <p id="first_paragraph">
            Paragraph with a button in content
            <button id="btn_myButton">Button in paragraph</button>
        </p>
    </div>

    <!-- Excercise 2 -->
    <div>
        <form action="#" id="frm_myForm">
            <input type="text" id="txt_one">
            <input type="text" id="txt_two">
            <button type="submit" id="btn_Submit">Submit</button>
        </form>
    </div>

    <!-- Exercise 3 -->
    <div>
        <a id="href_myHref" hreflang="en-us" href="https://www.google.se" target="_blank">my href</a>
        <button id="btn_myButton3">Button 3</button>
    </div>

    <!-- Exercise 5 -->
    <div>
        <button id="btn_AddRow">Add row</button>
        <button id="btn_RemoveRow">Remove row</button>
        <table id="tb_myTable" border="1" width="200">
            <tr>
                <td>Row 1</td>
            </tr>
            <tr>
                <td>Row 2</td>
            </tr>
            <tr>
                <td>Row 3</td>
            </tr>
        </table>
    </div>

    <!-- Exercise 7 -->
    <div>
        <input id="txt_OwnValue" type="text" value="Own value">
    </div>

    <script src="../scripts/index.js"></script>
    </body>
</html>